<h1><%= @product.product_name %></h1>

<p><%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Category: <%= @product.category.category_name %></p>
<p>Size: <%= @product.size %></p>
<p>Color: <%= @product.colour %></p>